<ion-header>
  <ion-toolbar>
    <ion-title>
      My HKT
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
    <ion-icon name="mail" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/black.jpg" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" [routerLink]="['/account']">
        <img src="assets/img/my acc.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/line test.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/order.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/account setting.jpg" class="logo" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <img src="assets/img/mobile.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/search.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/idd.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/club.jpg" class="logo" />
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="3">
        <img src="assets/img/tap go.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/shop.jpg" class="logo" />
      </ion-col>
      <ion-col size="3">
        <img src="assets/img/contact.jpg" class="logo" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!-- <ion-grid>
  <ion-row class="ion-align-items-bottom ion-justify-content-bottom">
    <ion-col>
      <img src="assets/img/bottom.jpg" class="logo" />
    </ion-col>
  </ion-row>
</ion-grid> -->

<ion-footer>
  <ion-toolbar>
    <img src="assets/img/bottom.jpg" class="logo" />
  </ion-toolbar>
</ion-footer>